*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Montserrat',sans-serif;
	background-color: #E3CAA5;
}

/*navbar*/
nav{
	display: flex;
	background-color: #AD8B73;
	justify-content: space-around;
	height: 50px;
	color: white;
	align-items: center;
}

nav ul{
	display: flex;
	list-style: none;
	width: 40%;
	justify-content: space-around;
}
nav .logo{
	font-family: 'Pacifico', cursive;
	letter-spacing: 5px;
}
nav ul li a{
	display: flex;
	color: white;
	text-decoration: none;
	font-size: 0.8em;
	width: 100px;
	height: 50px;
	justify-content: center;
	align-items: center;
}

nav ul li a:hover {
	background-color: #E3CAA5;
	color: #AD8B73;
}

/*conteiner*/
.conteiner{
	position: relative;
	margin: 20px auto ;
	width: 70%;
	background-color: #AD8B73;
	padding: 10px;
	padding-bottom:30px ;
	box-sizing: border-box;
	border-radius: 20px;
}
.conteiner .judul{
	margin: 10px auto ;
	width: 30%;
	
}

.conteiner h2{
	color: white;
	text-align: center;
}

/*tabel*/
.conteiner .tabel{
	color: white;
	text-shadow: 2px 2px 10px #AD8B73;
}
/*header*/
.header{
	margin: 0px auto 0;
	display: flex;
	width: 80%;
	background-color: #E3CAA5;
	justify-content: space-around;
	border: 2px solid white;
}

.header .no{
	flex: 1;
	padding: 5px;
	text-align: center;
	border-right: 2px solid white;	
}

.header .date{
	flex: 3;
	padding: 5px;
	text-align: center;
	border-right: 2px solid white;	
}

.header .tegangan, .header .arus, .header .rpm{
	flex: 2;
	padding: 5px;
	text-align: center;
}

.header .tegangan, .header .arus{
	border-right: 2px solid white;
}

/*content dalam tabel*/
.isi{
	margin: 0 auto;
	display: flex;
	width: 80%;
	background-color: #E3CAA5;
	justify-content: space-around;
	border-left: 2px solid white;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
}

.isi .no{
	flex: 1;
	padding: 5px;
	text-align: center;	
	border-right: 2px solid white;	
}

.isi .date{
	flex: 3;
	padding: 5px;
	text-align: center;
	border-right: 2px solid white;	
}

.isi .tegangan, .isi .arus, .isi .rpm{
	flex: 2;
	padding: 5px;
	text-align: center;
}

.isi .tegangan, .isi .arus{
	border-right: 2px solid white;
}

/*pagination*/
.pagination{
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto 0;
	width: 25%;
	
}

.pagination .first a, .pagination .last a{
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border:2px solid #AD8B73;
	text-decoration: none;
	color: #AD8B73;
}

.pagination a{
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border:2px solid #AD8B73;
	text-decoration: none;
	color: #AD8B73;
}

.pagination a:hover {
	background-color: #AD8B73 ;
	color: white;
}

.pagination .page p{
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #AD8B73 ;
	border:2px solid #AD8B73;
	color: white;
}